.footer {
    text-align: center;
    color: #333;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 20px 0;
    &-text {
        text-align: center;
        text-transform: uppercase;
        padding-top: 20px;
    }
    &-text-span {
    }
}

.border-footer {
    border-top: 1px solid #ccc;
}
